<%= render 'pages/menu' %>
<div class="container">
    <h1>Editar Avalia&ccedil;&atilde;o</h1>

    <%= render 'form', evaluation: @evaluation %>

    <%= link_to 'Mostrar', @evaluation %> |
    <%= link_to 'Voltar', evaluations_path %>
</div>
